@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*Navbar*/

.navbarOne{
  background:linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url('../image/bg.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
   height: 100vh;
  background-repeat:no-repeat;
  background-size:cover;
 -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-position:center;
background-attachment: fixed;
}

.navbarContainer{
    font-family: 'Rubik', sans-serif;
    margin: 0 auto;
    max-width: 1200px;
    height: 100vh;

}
.navbarContainer label{
    line-height: 90px;
    margin-left:30px;
    font-size: 20px;
    color: aliceblue;
}
.navbarContainer ul{
    float: right;
    margin-right:30px;
}
.navbarContainer li{
    display: inline-block;
    line-height: 90px;
    
}
.navbarContainer li a{
    text-decoration: none;
    padding: 0 15px;
    font-size: 13px;
    color: #eee;
    font-weight: 500;
}
.navbarContainer li a:active,.navbarContainer li a.active {
    color: #2576FD;
}
.title{
    margin-top: 150px;
    max-width: 1200px;
}
.title h1{
    text-align: center;
}
.title p{
    text-align: center;
}
.title h1.headerText{
    font-size: 50px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 4px;
}
.title  h1.headerTextTwo{
    margin: 10px 0;
    font-size: 65px;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 2px;
}
.title p{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #eee;
    word-spacing: 2px;
    margin: 20px 0;
}
.title p.headerButton{
    margin: 40px 0;
}
p.headerButton a{
    border-radius: 30px;
    border: 1px solid #fff;
    background: linear-gradient(to right,#1A237E 50%, #fff 50%);
    background-size: 200% 100%;
    background-position: bottom right;
    transition: all .5s ease-out;
    padding: 12px 35px;
    text-decoration: none;
    color: #1A237E;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
    
    
}
p.headerButton a:hover{
    border: 2px solid #ffffff;
    background-position: bottom left;
    color: #fff;
}
.navbarContainer input#check{
    display: none;
}
.navbarContainer label.checkbtn i.fa-bars{
    display: none;
}
.navbarContainer label.checkbtn i.fa-times{
    display: none;
}
#navbar{
    overflow: hidden;
}
.sticky {
    position: fixed;
    width: 100%;
  }
/*media*/
@media(max-width:1060px){
    .title{
        margin: 90px 30px 0px;
    }

}
@media(max-width:768px){
    .title h1.headerText{
        font-size: 30px;
    }
    .title h1.headerTextTwo{
        font-size: 45px;
    }
    .navbarContainer label.checkbtn{
        float: right;
    }
    .navbarContainer label.checkbtn i.fa-bars{
        display: block;
        font-size:25px;
        margin-right: 60px;
        color: #ffffff;
       /*  float: right; */
        line-height: 80px;
    }
    .navbarContainer ul{
        position: fixed;
        width: 40%;
        text-align: center;
        transition: all 0.5s;
        top: -150%;
         left: 30%; 
        text-align: center;
        background: #0b1520;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .navbarContainer ul li{
        display: block;
        margin: 10px 0;
       /*  line-height:30px; */
        /*adding*/
        margin: 5px 0px;
        line-height: 30px;
    }
    .navbarContainer #check:checked~ul{
        /* left: 0; */
        top: 110px;
    }
    .navbarContainer #check:checked~label.checkbtn i.fa-bars{
        display: none;
    }
    .navbarContainer #check:checked ~label.checkbtn i.fa-times {
        display: block;
        font-size: 25px;
        margin-right: 60px;
        color:  #ffffff;
        /* float: right; */
        line-height: 80px;
    }
}
@media(max-width:480px){
    .title h1.headerText{
        font-size: 14px;
    }
    .title h1.headerTextTwo{
        font-size: 25px;
    }
}
/*About*/
.about{
    margin-top: 100px;
}
.aboutInfo h2.aboutTitle{
    font-family: 'Rubik', sans-serif;
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    word-spacing: 5px;
    margin-bottom: 30px;
    
}
.aboutInfo h2.aboutTitle span.creative{
    color: #1A237E;
    margin-right: 8px;
}
.aboutInfo p.aboutText{
    font-family: 'Raleway', sans-serif;
    max-width: 900px;
    text-align: center;
    margin: 0 auto;
    font-size: 15px;
    font-weight: 400;
    color: #999;
    line-height: 1.8;
}
.cards{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 90px;
}
.cardOne{
    text-align: center;
    margin-top: 50px;
    padding: 50px 40px;;
    background-color: #fff;
    -webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.04);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.04);
    width: 30%;
}
.cardOne span i{
    font-size: 40px;
    color: #777;
    border-radius: 50%;
}
.cardOne span i{
    padding: 20px 0px;
}
.cardOne span i:hover{
    cursor: pointer;
    border-radius: 50%;
    width: 30%;
    height: 100%;
    background-color: #1A237E;
    background: -webkit-gradient(linear, left top, right bottom, from(#2576FD), to(#1A237E));
    background: linear-gradient(to bottom right, #2576FD, #1A237E);
    color: white;
    transition: all .4s;
}
.cardOne h5.cardTitle{
    margin-top: 10px;
    font-weight: 500;
    font-size: 18px;
}
.cardOne p.cardTextOne{
    color: #1A237E;
    font-size: 12px;
    font-weight: 400;
    font-style: italic; 
}
.cardOne p.cardTextTwo{
    color: #777;
    font-size: 15px;
    font-weight: 400;
    color: #999;
    line-height: 1.8;
    max-width: 300px;
    margin: 0 auto;
}

.cardTwo{
    text-align: center;
    margin-top: 50px;
    padding: 50px 40px;
    -webkit-box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
    position: relative;
    z-index: 3;
    width: 30%;
}
.cardTwo span i{
    font-size: 40px;
    color: #777;
    border-radius: 50%;
}
.cardTwo  span i{
    padding: 20px 0px;
}
.cardTwo  span i:hover{
    cursor: pointer;
    width: 30%;
    height: 100%;
    background-color: #1A237E;
    background: -webkit-gradient(linear, left top, right bottom, from(#2576FD), to(#1A237E));
    background: linear-gradient(to bottom right, #2576FD, #1A237E);
    border-radius: 50%;     
    color: white;
    transition: all .4s;
}
.cardTwo h5.cardTitle{
    margin-top: 10px;
    font-weight: 500;
    font-size: 18px;
}
.cardTwo p.cardTextOne{
    color: #1A237E;
    font-size: 12px;
    font-weight: 400;
    font-style: italic; 
}
.cardTwo p.cardTextTwo{
    color: #777;
    font-size: 15px;
    font-weight: 400;
    color: #999;
    line-height: 1.8;
    max-width: 300px;
    margin: 0 auto;
}

.cardThree{
    text-align: center;
    margin-top: 50px;
    padding: 50px 40px;
    background-color: #fff;
    -webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.04);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.04);
    width: 30%;
}
.cardThree span i{
    font-size: 40px;
    color: #777;
}
.cardThree  span i{
    padding: 20px 0px;
    border-radius: 50%;   
}
.cardThree span i:hover{
    cursor: pointer;
    width: 30%;
    height: 100%;
    background-color: #1A237E;
    background: -webkit-gradient(linear, left top, right bottom, from(#2576FD), to(#1A237E));
    background: linear-gradient(to bottom right, #2576FD, #1A237E);
    border-radius: 50%;     
    color: white;
    transition: all .4s;
}
.cardThree h5.cardTitle{
    margin-top: 10px;
    font-weight: 500;
    font-size: 18px;
}
.cardThree p.cardTextOne{
    color: #1A237E;
    font-size: 12px;
    font-weight: 400;
    font-style: italic; 
}
.cardThree p.cardTextTwo{
    color: #777;
    font-size: 15px;
    font-weight: 400;
    color: #999;
    line-height: 1.8;
    max-width: 300px;
    margin: 0 auto;
}
@media(max-width:1069px){
    .cards{
        flex-direction: column;
        padding: 0px;
    }
    .cardOne, .cardTwo, .cardThree{
        width: 100%;
    }
    .aboutInfo{
        margin: 0 20px;
    }
}
@media(max-width:780px){
    .aboutInfo h2.aboutTitle{
        font-size: 22px;
    }
}
/*Services*/
.service{
    margin-top: 100px;
    background: #F9F9F9;
    background: #1A237E;
}
.serviceContainer{
    margin: 0 auto;
    max-width: 1250px;
}
.content{
    margin: 0 30px;
}
.nav{
    flex-wrap: nowrap;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link { 
    border-top:2px solid;
    border-top-color: #1A237E;
    background-color: #fff;
    color: #1A237E;
}
.navOne{
    color: #000000;
    font-family: 'Rubik', sans-serif;
}
.nav-link, .nav-link.active {
    display: block;
    padding: .5rem 2rem;
}
a:hover{
    color: #000000;
}
.nav-pills .nav-link{
    border-radius: 0;
}

.menuNav{
    background: #F2F2F2;
    width: 40%;
}
.tabMenu{
    margin-top: 0px;
}
.menu{
    display: flex;
    position: relative;
   
}
.right{
    z-index: 5;
    width: 40%;
    position: relative;
    background: #ffffff;
    height: auto;
    margin-bottom: 60px;
}
.leftSide{
    width:60%;
    position: relative;
    /*left:600px;*/
    top: -42px;
}
.leftSide img{
    max-width: 100%;
}
.rightSide{
    font-family: 'Rubik', sans-serif;
    padding: 0 30px;   
    padding-bottom: 30px;
    max-width: 90%;
}
.rightSide h5{
    margin-top: 50px;
    font-size: 25px;
    font-weight: bold;
}
.rightSide h6{
    color: #777;
    font-size: 12px;
    font-weight: 400;
}
.rightSide p{
    margin-top: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #999;
    line-height: 1.8;
}
.progressBarOne{
    margin-top: 30px;
}
.progressBarOne h6{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
    color: #000000;
}
.progressBarTwo{
  margin-top: 30px;
}
.progressBarTwo h6{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
    color: #000000;
}
.tab-content{
    margin: 0 auto;
}
/*Responsive Tab One*/

@media(max-width:1069px){
    .menuNav{
        width: 90%;
    }
    .nav-link, .nav-link.active {
        display: block;
        padding: .5rem 1.5rem;
    }
    .content{
        margin: 0 30px;
    }
    .menu{
        flex-direction: column;
    }
    .right{
        width: 90%;
    }
    .leftSide{
        width: 90%;
    }
}
@media(max-width:381px){
    .nav-link, .nav-link.active {
        padding: .5rem 1rem;
    }
    .navOne{
        font-size: 13px;
    }
}