@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*Navbar*/

.navbarOne{
  background:linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url('../image/bg.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
   height: 100vh;
  background-repeat:no-repeat;
  background-size:cover;
 -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-position:center;
}

.navbarContainer{
    font-family: 'Rubik', sans-serif;
    margin: 0 auto;
    max-width: 1200px;
    height: 100vh;

}
.navbarContainer label{
    line-height: 90px;
    margin-left:30px;
    font-size: 20px;
    color: aliceblue;
}
.navbarContainer ul{
    float: right;
    margin-right:30px;
}
.navbarContainer li{
    display: inline-block;
    line-height: 90px;
    
}
.navbarContainer li a{
    text-decoration: none;
    padding: 0 15px;
    font-size: 13px;
    color: #eee;
    font-weight: 500;
}
.navbarContainer li a:active,.navbarContainer li a.active {
    color: #2576FD;
}
.title{
    margin-top: 150px;
    max-width: 1200px;
}
.title h1{
    text-align: center;
}
.title p{
    text-align: center;
}
.title h1.headerText{
    font-size: 50px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 4px;
}
.title  h1.headerTextTwo{
    margin: 10px 0;
    font-size: 65px;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 2px;
}
.title p{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #eee;
    word-spacing: 2px;
    margin: 20px 0;
}
.title p.headerButton{
    margin: 40px 0;
}
p.headerButton a{
    border-radius: 30px;
    border: 1px solid #fff;
    background: linear-gradient(to right,#1A237E 50%, #fff 50%);
    background-size: 200% 100%;
    background-position: bottom right;
    transition: all .5s ease-out;
    padding: 12px 35px;
    text-decoration: none;
    color: #1A237E;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
    
    
}
p.headerButton a:hover{
    border: 2px solid #ffffff;
    background-position: bottom left;
    color: #fff;
}
.navbarContainer input#check{
    display: none;
}
.navbarContainer label.checkbtn i.fa-bars{
    display: none;
}
.navbarContainer label.checkbtn i.fa-times{
    display: none;
}
#navbar{
    overflow: hidden;
}
.sticky {
    position: fixed;
    width: 100%;
  }
/*media*/
@media(max-width:1060px){
    .title{
        margin: 90px 30px 0px;
    }

}
@media(max-width:768px){
    .title h1.headerText{
        font-size: 30px;
    }
    .title h1.headerTextTwo{
        font-size: 45px;
    }
    .navbarContainer label.checkbtn{
        float: right;
    }
    .navbarContainer label.checkbtn i.fa-bars{
        display: block;
        font-size:25px;
        margin-right: 60px;
        color: #ffffff;
       /*  float: right; */
        line-height: 80px;
    }
    .navbarContainer ul{
        position: fixed;
        width: 40%;
        text-align: center;
        transition: all 0.5s;
        top: -150%;
         left: 30%; 
        text-align: center;
        background: #0b1520;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .navbarContainer ul li{
        display: block;
        margin: 10px 0;
       /*  line-height:30px; */
        /*adding*/
        margin: 5px 0px;
        line-height: 30px;
    }
    .navbarContainer #check:checked~ul{
        /* left: 0; */
        top: 110px;
    }
    .navbarContainer #check:checked~label.checkbtn i.fa-bars{
        display: none;
    }
    .navbarContainer #check:checked ~label.checkbtn i.fa-times {
        display: block;
        font-size: 25px;
        margin-right: 60px;
        color:  #ffffff;
        /* float: right; */
        line-height: 80px;
    }
}
@media(max-width:426px){
    .title h1.headerText{
        font-size: 25px;
    }
    .title h1.headerTextTwo{
        font-size: 35px;
    }
}

